/*div {
	border: 1px solid black;
}*/

html,body {
	height: 100%;
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

hr {
	border-top:1px solid red;
}

a {
	color:black;
}

a:hover {
	color:red;
}


.page-link {
    color: #000000;
}

.no-gutters {
	padding-right: 0px;
	padding-left: 0px;
}

.counter-inputas {
	width:30%;
}

.top-bar {
	width: 100%;
	background-color: black;
	color:white;
}

.top-bar li {
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
	float: right;
}

.top-bar ul {
	display:block;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;
}

.top-bar a {
	color: white;
}

.top-contacts {
	float:left;
	width: 50%;
}

.logo {
	width:30%;
}

.cart-menu-price {
font-size: 20px;
}

.nav {
	width:50%;
	font-size: 16px;
	line-height: 20px;
}

.nav li {
	float: right;
	list-style-type: none;
	margin-left: 15px;
	margin-right: 15px;
}

.nav ul {
	margin-top: 0px;
	margin-bottom: 0px;
}

.nav a {
	color:black;
	text-decoration: underline;
	text-decoration-color: red;
}

.nav a:hover {
	color:red;
	text-decoration: underline;
	text-decoration-color: black;
}

.cart-menu {
	font-size: 30px;
	text-align: center;
	width:20%;
}

.cart-menu-icon {
	line-height: 85px;
}

.slider {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    height: 350px;
}

.slider img {
    width: 100%
}

.slider-arrows-left {
  position: absolute;
	left:0px;
	top:40%;
	font-size: 40px;
}

.slider-arrows-right {
  position: absolute;
	right:0px;
	top:40%;
	font-size: 40px;
}

.karusele {
	width: 100%;
	text-align: center;
	overflow: hidden;
}

.karuseles-img img {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

.karuseles-arrow-containeris{
	position:relative;
}
.karuseles-arrow {
	position: absolute;
	top:35%;
	font-size: 40px;
}

.footer {
	background-color: black;
	color:white;
	padding-top:10px;
	padding-bottom: 10px;
	width: 100%;
}

.footer p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-container {
	height:100%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000000 url('http://localhost/voldemaras/laravel-html/images/textura.png');
    background-repeat: repeat;
}

.login-box {
	border:1px solid white;
	background:rgba(255,255,255, 0.4);
	border-radius: 15px;
    min-height: 400px;
 	align-self: center;
 	padding:30px;
}

.login-row {
	display: flex;
 	justify-content: center;
	height: 100%;
}

.login-form {
	width:70%;
	text-align: center;
	margin:0 auto;
}

div#search {
	border: 1px solid black;
	position: relative;
}

.search-inputas {
	width:80% !important;
}

.search-bar-back {
	background-color: #d9dee1;
}

.form-inline {
	width: 50% !important;
}

div#sidebar {
	height: 100%;
	border-right: 1px solid red;
	margin-top: 30px;
	margin-bottom: 30px;
}

.sidebar-categories ul {
	list-style-type: none;
	margin-left: 25px;
}

.sidebar-categories li:before {    
content: url('http://localhost/voldemaras/laravel-front-end/front-end/images/cat.png');
height: 16px;
margin:0 5px 0 -15px;
}

.most-popular-prod-sidebar p {
	text-align: justify;
}

.most-popular-prod-sidebar .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: 5px 5px;
    font-size: 10px;
    line-height: 12px;
    transition: all .15s ease-in-out;
}

div#radioboxes {
	margin-top: 17px;
	padding: 10px;
}

img.packshot {
	width: 40px;
	height: 55px; 
}

img.gallery {
	width: 150px;
	height: 200px;
	margin: 10px;
}

body {
	font-size: 12px;
}

div#pagination {
	margin-top: 30px;
}

div#arrivals {
	margin-top: 30px;
}

div#popular {
	margin-top: 30px;
}

img#popular {
	width: 80%;
	margin-top: 10px;
}

div#categories {
	margin-top: 30px;

}


/*
MOBILE
*/


@media only screen and (max-width: 700px) {
.top-bar ul {
	margin: 0;
    padding: 0;
}

.logo {
	width:50%;
}

.cart-menu {
	width: 20%;
}

.nav {
	width:30%;
	line-height: 20px;

}

.navbar {
    padding: 0px 0px;
}

.cart-menu-price {
	display: none;
}

.slider {
    height: 150px;
}

.form-inline {
	width: 100% !important;
}

.search-inputas {
    width: 60% !important;
}

#sidebar {
	display: none;
}

.karuseles-arrow {
	font-size: 25px;
}

}